html
    head

        link(rel='stylesheet' href='/assets/css/homepage.css')
    body
        .container
            h3="Sign in here"
            form.log-in
                input#user(type="text" placeholder="userName")
                input#pass(type="password" placeholder="passwoard")
                input(type="submit" value="submit" )
                    //- val submit



        script(src='/assets/js/homepage.js')
